.container{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    align-items: flex-start;
    justify-content: center;


}
.container >label{
    text-align: left;
    font-size: 11px;
    margin-bottom:  0.2rem;
    margin-left: 0.9rem;

}
.container > select{
    border-radius: 25px;
    border: 50px;
    width: 250px;
    padding-top: 0.8rem;
    padding-bottom: 0.5rem;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    text-align: center;
    
}
