.navbarwraper {
    position: fixed;
    top: 15px;
    left: 275px; /* Deve começar após o fim do sidebar */
    width: calc(100% - 300px); /* Largura do restante da tela */
    padding: 1rem;/*e o espacamento de dentro */
    background-color: #d9d9d9;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.18);
    -webkit-backdrop-filter: blur(18px);
    backdrop-filter: blur(18px);
}